<div class="dragula-anchor palette-section-header align-self-center" data-category-header="{{name}}"
    data-hidden="false">
    <div class="row wrap">
        <div class="col-12 col-md-9 first-block">
            <span class="header-label">{{translate title}} <i>({{numWidgets}} items)</i></span>
        </div>
        <div class="col-12 col-md-3 second-block vcenter">
            <button class="author-toggle-category float-right btn btn-outline btn-indie btn-sm btn-no-border btn-block" 
                data-toggle="tooltip" title="{{translate "buttons.toggleCategories"}}">
                <i data-icon class="fa fa-caret-up"></i>
            </button>
        </div>
    </div>
</div>
{{{widgets}}}