<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="title">{{translate "widgets.AcordionContent.form.title.label"}}</label>
        <input type="text" class="form-control" name="title" required 
            placeholder="{{translate "widgets.AcordionContent.form.title.placeholder"}}" 
            value="{{title}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.AcordionContent.form.title.help"}}</small>
    </div>
</form>