<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label>{{translate "widgets.ImageAndSoundItem.form.audio.label"}}</label>
        <input type="text" class="form-control" name="audio" 
            placeholder="{{translate "widgets.ImageAndSoundItem.form.audio.placeholder"}}" value="{{audio}}" 
            autocomplete="off" required />
        <small class="form-text text-muted">{{translate "widgets.ImageAndSoundItem.form.audio.help"}}</small>
    </div>
    <div class="mb-3">
        <label>{{translate "widgets.ImageAndSoundItem.form.text.label"}}</label>
        <textarea class="form-control" name="text" 
            placeholder="{{translate "widgets.ImageAndSoundItem.form.text.placeholder"}}">{{text}}</textarea>
        <small class="form-text text-muted">{{translate "widgets.ImageAndSoundItem.form.text.help"}}</small>
    </div>
    <div class="mb-3">
        <label for="image">{{translate "widgets.ImageAndSoundItem.form.image.label"}}</label>
        <input type="text" class="form-control" name="image" required autocomplete="off" 
            placeholder="{{translate "widgets.ImageAndText.form.image.placeholder"}}" value="{{image}}" />
        <small class="form-text text-muted">{{translate "widgets.ImageAndSoundItem.form.image.help"}}</small>
    </div>
    <div class="mb-3">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    <div class="mb-3 img-preview-wrapper d-none">
        <p>{{translate "widgets.ImageAndSoundItem.form.preview"}}</p>
        <img class="img-fluid img-preview" src="{{image}}" />
    </div>
    <div class="preview-error alert alert-warning d-none">
        {{translate "errors.common.preview"}}
    </div>
    <div class="mb-3">
        <label for="text">{{translate "common.captions.label"}}</label>
        <input type="text" class="form-control" name="captions" placeholder="{{translate "common.captions.placeholder"}}"
            value="{{{captions}}}" autocomplete="off"/>
        <small class="form-text text-muted">{{translate "common.captions.help"}}</small>
    </div>
</form>