<div id="modal-translate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content border-indie">
            <div class="modal-header modal-indie">
                <h2 class="modal-title h5">{{ translate "dialog.translate" }}</h2>
            </div>
            <div id="modal-translate-body" class="modal-body">
                <form id="f-translate-unit">
                    <div class="mb-3">
                        <label for="source-unit-language">{{translate "units.translate.source.label"}}</label>
                        <select id="source-unit-language" name="source-language" class="form-control" required>
                            {{#each languages}}
                            <option value="{{this}}" {{#ifeq this ../language}} selected {{/ifeq}}>
                                {{translate (concat "common.language." this) }}
                            </option>
                            {{/each}}
                        </select>
                        <small class="form-text text-muted">{{translate "units.translate.source.help"}}</small>
                    </div>
                    <div class="mb-3">
                        <label for="target-unit-language">{{translate "units.translate.target.label"}}</label>
                        <select id="target-unit-language" name="language" class="form-control" required>
                            {{#each languages}}
                            <option value="{{this}}" {{#ifeq this ../language}} selected {{/ifeq}}>
                                {{translate (concat "common.language." this) }}
                            </option>
                            {{/each}}
                        </select>
                        <small class="form-text text-muted">{{translate "units.translate.target.help"}}</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ translate "general.cancel"}}</button>
                <button type="button" class="btn btn-indie btn-submit">{{ translate "general.confirm" }}</button>
            </div>
        </div>
    </div>
</div>