<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="term">{{translate "widgets.DragdropItem.form.term.label"}}</label>
        <input type="text" class="form-control" name="term" required 
            placeholder="{{translate "widgets.DragdropItem.form.term.placeholder"}}" value="{{term}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.DragdropItem.form.term.help"}}</small>
    </div>
    <div class="mb-3">
        <label for="definition">{{translate "widgets.DragdropItem.form.definition.label"}}</label>
        <textarea rows="4" class="form-control" name="definition" 
            placeholder="{{translate "widgets.DragdropItem.form.definition.placeholder"}}" 
            required>{{definition}}</textarea>
        <small class="form-text text-muted">{{translate "widgets.DragdropItem.form.definition.help"}}</small>
    </div>
</form>