<div class="dragula-anchor palette-section-header align-self-center" data-category-header="{{category}}"
    data-hidden="false">
    <div class="row wrap">
        <div class="col-9 first-block">
            <span class="header-label">{{translate title}} <i>({{numWidgets}} items)</i></span>
        </div>
        <div class="col-3 second-block vcenter">
            <button onclick="indieauthor.api.toggleCategory('{{category}}')"
                class="float-right btn btn-outline btn-indie btn-sm btn-no-border" data-toggle="tooltip"
                title="{{translate "buttons.toggleCategories"}}">
                <i data-icon class="fa fa-caret-up"></i>
            </button>
        </div>
    </div>
</div>