<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="related-units-title">{{translate "widgets.RelatedUnitsAssociation.form.title.label"}}</label>
        <input id="related-units-title" type="text" class="form-control" name="help" required 
            placeholder="{{translate "widgets.RelatedUnitsAssociation.form.title.placeholder"}}" value="{{help}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.RelatedUnitsAssociation.form.title.help"}}</small>
    </div>
</form>