<div class="widget widget-image-and-sound-item" data-type="{{type}}" data-widget="{{widget}}" data-id="{{id}}">
    <div class="b1">
        <img src="{{{icon}}}" class="img-fluid drag-item" />
    </div>
    <div class="b2" data-prev>
        <span>{{translate "widgets.ImageAndSoundItem.prev"}}</span>
    </div>
    <div class="b3" data-toolbar></div>
</div>