<form id="f-{{instanceId}}">
    <fieldset>
        <legend class="text-center">{{translate "widgets.SentenceOrderItem.form.words.legend"}}</legend>
        <div class="form-row">
            <button class="btn btn-block btn-indie btn-add-word" type="button">
                {{translate "widgets.SentenceOrderItem.form.words.new"}}
            </button>
            <small class="form-text text-muted mb-4">{{translate "widgets.SentenceOrderItem.form.words.help"}}</small>
        </div>
        <div class="form-row words"></div>
    </fieldset>
    <fieldset class="answers">
        <legend class="text-center">{{translate "widgets.SentenceOrderItem.form.answers.legend"}}</legend>
        <div class="form-row">
            <button class="btn btn-block btn-indie btn-add-answer" type="button">
                {{translate "widgets.SentenceOrderItem.form.answers.new"}}
            </button>
            <small class="form-text text-muted mb-4">{{translate "widgets.SentenceOrderItem.form.words.help"}}</small>
        </div>
    </fieldset>
</form>