<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="mb-3">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" placeholder="{{translate "common.help.placeholder"}}"
                value="{{help}}">
            <div class="input-group-append">
                <button class="btn btn-indie js-set-default-text" type="button">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{{translate "common.help.help"}}}</small>
    </div>
    <div class="mb-3">
        <label for="image">{{translate "widgets.Animation.form.image.label" }}</label>
        <input type="file" class="form-control" name="image" accept="image/png, image/jpeg" />
        <small class="form-text text-muted">{{translate "widgets.Animation.form.image.help"}}</small>
        <input type="hidden" name="blob" value="{{blob}}" />
    </div>
    <div class="mb-3">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    <div class="pieces-wrapper d-none">
        <div class="mb-3">
            <p>{{translate "widgets.Animation.form.image.preview"}}</p>
            <canvas class="img-preview img-fluid"></canvas>
        </div>
        <div class="mb-3 d-grid">
            <button class="btn btn-indie btn-add-piece" type="button">
                {{translate "widgets.Animation.form.pieces.new"}}
            </button>
        </div>
        <div class="pieces"></div>
    </div>
</form>