<form id="f-{{instanceId}}" class="form-widget-table">
    <div class="mb-3">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="mb-3">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" placeholder="{{translate "common.help.placeholder"}}"
                value="{{help}}">
            <div class="input-group-append">
                <button class="btn btn-indie js-set-default-text" type="button">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{{translate "common.help.help"}}}</small>
    </div>
    <fieldset class="mb-3">
        <div class="row">
            <legend class="col-form-label col-12 pt-0">{{translate "widgets.Table.form.addColumn.label"}}</legend>
            <div class="col-8">
                <label for="instanceName">{{translate "widgets.Table.form.addColumn.columnName.label"}}</label>
                <input type="text" name="column-name" class="form-control" value="" 
                    placeholder="{{translate "widgets.Table.form.addColumn.columnName.placeholder"}}" autocomplete="off" />
                <small class="form-text invalid-feedback">
                    {{translate "widgets.Table.form.addColumn.columnName.error"}}
                </small>
            </div>
            <div class="col-4">
                <label for="text">{{translate "widgets.Table.form.addColumn.columnPosition.label"}}</label>
                <input type="number" class="form-control" name="column-position" min="0" max="{{numColumns}}" value="0"
                    autocomplete="off" />
                <small class="form-text invalid-feedback">
                    {{translate "widgets.Table.form.addColumn.columnPosition.error"}}
                </small>
            </div>
            <div class="d-grid mb-3 col-12">
                <button type="button" class="btn btn-indie btn-add-column mt-3">
                    {{translate "widgets.Table.form.addColumn.submit"}}
                </button>
            </div>
        </div>
    </fieldset>
    <div class="table-wrapper">
        <small class="form-text text-muted text-center mb-2">{{translate "widgets.Table.help.edit"}}</small>
        <table id="table" class="display" style="width:100%"></table>
        <span class="table-empty">{{translate "widgets.Table.empty"}}</span>
    </div>
</form>