<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" placeholder="{{translate "common.help.placeholder"}}"
                value="{{help}}">
            <div class="input-group-append">
                <button class="btn btn-indie" type="button" onclick="$('input[name=help]').val('')">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{{translate "common.help.help"}}}</small>
    </div>
    <div class="form-group">
        <label>{{translate "widgets.ChooseOption.form.text.label"}}</label>
        <textarea class="form-control" name="text" 
            placeholder="{{translate "widgets.ChooseOption.form.text.placeholder"}}" 
            required>{{text}}</textarea>
        <small class="form-text text-muted">{{translate "widgets.ChooseOption.form.text.help"}}</small>
    </div>
    <div class="form-group">
        <label for="image">{{translate "widgets.ChooseOption.form.image.label"}}</label>
        <input type="file" class="form-control" name="image" accept="image/png, image/jpeg" />
        <small class="form-text text-muted">{{translate "widgets.ChooseOption.form.image.help"}}</small>
        <input type="hidden" name="blob" value="{{blob}}" />
    </div>
    <div class="form-group">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    <div class="form-group d-none">
        <p>{{translate "widgets.ChooseOption.form.preview"}}</p>
        <img class="img-fluid img-preview" src="{{blob}}" />
    </div>
    <div class="form-group">
        <label>{{translate "widgets.ChooseOption.form.options.label"}}</label>
        {{#each options}}
        <div class="input-group input-answer">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="correct" {{#if correct}}checked="true" {{/if}} value="{{@index}}">
                </div>
            </div>
            <input class="form-control" type="text" name="option{{@index}}" autocomplete="off"
                placeholder="{{translate "widgets.ChooseOption.form.options.placeholder"}}" value="{{text}}"
                autocomplete="off" />
        </div>
        {{/each}}
        <small class="form-text text-muted">{{translate "widgets.ChooseOption.form.options.help"}}</small>
    </div>
</form>