<div class="container-item">
    <div class="{{cssClass}}" data-widget="{{widget}}" data-id="{{id}}">
        <div class="widget row flex-column flex-md-row no-gutters">
            <div class="b1 col-auto d-none d-md-inline-block">
                <img loading="lazy" src="{{{icon}}}" class="img-fluid drag-item" /> 
            </div>
            <div class="b2 col-12 col-md-auto" data-prev>{{{label}}}</div>
            <div class="b3 col-12 col-md-auto ml-auto" data-toolbar>
                {{#if canAdd}}
                <button class="author-add-content btn btn-sm btn-success" data-toggle="tooltip" 
                    title="{{translate "items.add"}}">
                    <i class="fa fa-plus-circle"></i>
                </button>
                {{/if}}
                {{#if canEdit}}
                <button class="author-edit-element btn btn-sm btn-success" data-toggle="tooltip"
                    title="{{translate "items.edit"}}">
                    <i class="fa fa-edit"></i>
                </button>
                {{/if}}
                {{#if canCopy}}
                <button class="author-copy-element btn btn-sm btn-success" data-toggle="tooltip"
                    title="{{translate "items.duplicate"}}">
                    <i class="fa fa-copy"></i>
                </button>
                <button class="author-export-element btn btn-sm btn-success" data-toggle="tooltip"
                    title="{{translate "items.export"}}">
                    <i class="fa fa-file-export"></i>
                </button>
                {{/if}}
                <button class="author-remove-element btn btn-sm btn-danger" data-toggle="tooltip"
                    title="{{translate "items.delete"}}">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div data-widget="{{widget}}" class="element-container dragula-container" data-content>
            {{{children}}}
        </div>
    </div>
</div>