<div class="search-condition d-flex col-12 p-0">
    <select class="col-2 form-control search-operation">
        <option value="and"> {{ translate "widgets.Bank.modal.filter.optionAND"}} </option>
        <option value="or"> {{ translate "widgets.Bank.modal.filter.optionOR"}} </option>
        <option value="andnot"> {{ translate "widgets.Bank.modal.filter.optionANDNOT"}} </option>
    </select>
    <select class="col-2 form-control search-field">
        <option value="nombre">{{ translate "widgets.Bank.modal.filter.optionName"}}</option>
        <option value="tag">{{ translate "widgets.Bank.modal.filter.optionTag"}}</option>
        <option value="tipo">{{ translate "widgets.Bank.modal.filter.optionType"}}</option>
    </select>
    <input type="search" class="form-control ds-input col-7 search-term" placeholder="{{ translate "widgets.Bank.modal.placeholderTitle"}}"> 
    <select class="form-control ds-input col-7 search-type d-none">
    {{#each types}}
        <option value="{{this}}"> {{ translate (concat 'widgets.'this '.label') }} </option>
    {{/each}}
    </select>
    <button class="btn col-1 btn-delete-filter"> <i class="fas fa-trash-alt"></i></button>
</div>