<div id="modal-bank-widgets" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content border-indie">
            <div class="modal-header modal-indie">
                <h2 id="modal-bank-widgets-tittle" class="modal-title h5"> {{ translate "widgets.Bank.modalTitle"}}</h2>
            </div>
            <div id="modal-bank-widgets-body" class="modal-body">
                <div class="form-group mb-4 d-flex">
                    <input id="search-bank-widget" type="search" class="form-control ds-input" placeholder="Search by title of Widget"> 
                    <div class="input-group-append">
                       <button id="button-search-bank-widget" class="btn btn-indie" type="button">{{translate "widgets.Bank.search"}}</button>
                    </div>
                </div>
                <div class="panel-bank-widgets">
                {{#each data}}
                <button class="col-md-12 mb-3 align-items-center p-3 border border-secondary widget-button" >
                    <div class="col-xs-12 col-sm-1">
                        <img src="{{{img }}}">
                    </div>
                    <div class="col-xs-12 col-sm-11 pl-4">
                        <h3  class="h5"> {{ this.title }} </h3>
                        <p class="mb-0"> {{ this.desc }} </p>
                    </div>
                    <input type="hidden" name="json" value="{{ this.data }}">
                </button>
                {{/each}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ translate "general.cancel" }}</button>
            </div>
        </div>
    </div>
</div>