<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="name">{{translate "widgets.TabContent.form.name.label"}}</label>
        <input type="text" class="form-control" name="name" required 
            placeholder="{{translate "widgets.TabContent.form.name.placeholder"}}" value="{{name}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.TabContent.form.name.help"}}</small>
    </div>
</form>