<div id="modal-questions-bank" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content border-indie">
            <div class="modal-header modal-indie">
                <h2 id="modal-questions-bank-title" class="modal-title h5"> {{ translate "widgets.QuestionsBank.modal.modalTitle"}}</h2>
            </div>
            <div id="modal-questions-bank-body" class="modal-body">
                <div class="errors"></div>
                <div class="form-group d-lg-flex flex-wrap d-md-block" id="search-filters">
                    <div class="search-condition d-flex col-12 p-0">
                        <select name="type" class="form-control col-3 searchType">
                            <option value="nombre">{{ translate "widgets.Bank.modal.filter.optionName"}}</option>
                            <option value="tag">{{ translate "widgets.Bank.modal.filter.optionTag"}}</option>
                            <option value="tipo">{{ translate "widgets.Bank.modal.filter.optionType"}}</option>
                        </select>
                        <input id="search-bank-widget" type="search" class="form-control ds-input col-9 searchTerm" placeholder="{{ translate "widgets.Bank.modal.placeholderTitle"}}">
                        <select class="form-control ds-input col-9 searchTermByType d-none">
                            {{#each types}}
                                <option value="{{this}}"> {{ translate (concat 'widgets.'this '.label') }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="input-group-append pr-0 pr-md-0 mb-3 justify-content-end">
                       <button id="button-add-filter-widget" class="btn btn-secondary" type="button">{{ translate "widgets.Bank.modal.addFilter"}}</button>
                       <button id="button-search-questions-bank" class="btn btn-indie" type="button">{{translate "widgets.Bank.search"}}</button>
                </div>
                <div class="form-group options-questions-bank" >
                    <label class="col-lg-8 col-md-12 random-label" > <input id="checkbox-random" style="margin-right: 5px;" type="checkbox"> {{ translate "widgets.QuestionsBank.modal.randomTextPrev"}} <input id="number-of-random-questions" style="width: 60px;" type="number" min="1"> {{ translate "widgets.Bank.modal.randomTextBefore"}}</label>
                    <label class="col-lg-4 col-md-12 select-all-label">{{ translate "widgets.QuestionsBank.modal.selectAllText"}} <input class="select-all-input" id="check-select-all" type="checkbox">  </label>
                </div> 
                <div class="panel-questions-bank">
                    {{#each data}}
                    <button class="col-md-12 mb-3 align-items-center p-3 border border-secondary widget-button d-sm-flex d-block" >
                        <div class="col-xs-12 col-sm-2 col-lg-1">
                            <img src="{{{ img }}}">
                        </div>
                        <div class="text-center text-sm-left col-xs-12 col-sm-10 col-lg-11 py-2">
                            <p class="question-text"> {{ text }} </p>
                            {{#if tags}}
                            <ul class="list-tags justify-content-center justify-content-sm-start">
                              {{#each tags}}
                                <li><span class="badge badge-primary"><i class="fa-solid fa-tag"></i>{{this}}</span></li>
                              {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                        <input type="checkbox" class="input-checkbox">
                        <input type="hidden" name="type" value="{{ type }}">
                        <input type="hidden" name="group" value="{{ group.name }}">
                        <input type="hidden" name="answers" value="{{ answers }}">
                        <input type="hidden" name="correct" value="{{ correct }}">
                    </button>
                    {{else}}
                       <div class="alert-no-widgets">
                            <span> {{ translate "widgets.QuestionsBank.modal.notFound"}} </span>
                       </div>
                    {{/each}}
                </div>
            </div>
            <div class="modal-footer">
                <div class="content-buttons">
                    <button type="button" class="btn btn-indie btn-submit">{{ translate "widgets.QuestionsBank.add" }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ translate "general.cancel" }}</button>
                </div>
            </div>
        </div>
    </div>
</div>