{{#if incorrectToken}}
    <div class="alert alert-danger" role="alert">
         {{translate "netlify.error.message"}}
    </div>
{{else}}
<label for="select-sites">{{translate "netlify.config.chooseSite.label"}}</label>
<select id="select-sites" name="site" class="form-control" required>
    <option value="0" selected> {{translate "netlify.config.chooseSite.default"}} </option>
    {{#each urls}}
    <option value="{{{lookup ../ids @index}}}">{{this}}</option>
    {{/each}}
</select>
<small class="form-text text-muted">{{translate "netlify.config.chooseSite.help"}}</small>
{{/if}}