<form id="f-translate-unit">
    <div class="form-group">
        <label for="source-unit-language">{{translate "units.translate.source.label"}}</label>
        <select id="source-unit-language" name="source-language" class="form-control" required>
            {{#each languages}}
            <option value="{{this}}" {{#ifeq this ../language}} selected {{/ifeq}}>
                {{translate (concat "common.language." this) }}
            </option>
            {{/each}}
        </select>
        <small class="form-text text-muted">{{translate "units.translate.source.help"}}</small>
    </div>
    <div class="form-group">
        <label for="target-unit-language">{{translate "units.translate.target.label"}}</label>
        <select id="target-unit-language" name="language" class="form-control" required>
            {{#each languages}}
            <option value="{{this}}" {{#ifeq this ../language}} selected {{/ifeq}}>
                {{translate (concat "common.language." this) }}
            </option>
            {{/each}}
        </select>
        <small class="form-text text-muted">{{translate "units.translate.target.help"}}</small>
    </div>
    <input type="submit" class="hide" />
</form>