<form id="f-{{id}}">
    <div class="form-group">
        <label for="name">{{translate "sections.form.name.label"}}</label>
        <input type="text" name="name" class="form-control" value="{{name}}" 
            placeholder="{{translate "sections.form.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "sections.form.name.help"}}</small> 
    </div>
    <div class="form-group">
        <label for="bookmark">{{translate "sections.form.bookmark.label"}}</label> 
        <input type="text" name="bookmark" class="form-control" value="{{bookmark}}" 
            placeholder="{{translate "sections.form.bookmark.placeholder"}}" maxLength="40" autocomplete="off" required /> 
        <small class="form-text text-muted">{{translate "sections.form.bookmark.help"}}</small>
    </div>
</form>