<div class="section-container">
    <div id="sec-{{id}}" class="section-element" data-id="{{id}}">
        <div class="section-header row no-gutters">
            <div class="b1 col-auto d-none d-lg-inline-block">
                <img loading="lazy" src="{{{icon}}}" class="section-icon" alt="" />
            </div>
            <div class="b2 col-12 col-md-auto" data-prev>{{{name}}}</div>
            <div class="b3 col-12 col-md-auto" data-toolbar>
                <button class="author-export-section btn btn-sm btn-info" type="button"
                    data-toggle="tooltip" title="{{translate "sections.export"}}">
                    <i class="fa fa-file-export"></i>
                </button>
                <button class="author-import-element btn btn-sm btn-info" type="button"
                    data-toggle="tooltip" title="{{translate "sections.import"}}">
                    <i class="fa fa-file-import"></i>
                </button>
                <button class="btn btn-sm btn-info" type="button" data-toggle="tooltip" data-author-toggle="collapse"
                    data-target="#section-elements-{{id}}" title="{{translate "sections.expandContract"}}"
                    aria-expanded="true" aria-controls="section-elements-{{id}}">
                    <i class="fa fa-caret-down"></i>
                </button>
                <button class="author-copy-section btn btn-sm btn-info" type="button"
                    data-toggle="tooltip" title="{{translate "sections.duplicate"}}">
                    <i class="fa fa-copy"></i>
                </button>
                <button class="author-swap-up btn btn-sm btn-info" type="button"
                    data-toggle="tooltip" title="{{translate "sections.moveUp"}}">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button class="author-swap-down btn btn-sm btn-info" type="button"
                    data-toggle="tooltip" title="{{translate "sections.moveDown"}}">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <button class="author-edit-element btn btn-sm btn-success" type="button"
                    data-toggle="tooltip" title="{{translate "sections.edit"}}">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="author-remove-section btn btn-sm btn-danger" type="button"
                    data-toggle="tooltip" title="{{translate "sections.deleteSection"}}">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div id="section-elements-{{id}}" 
            class="section-elements dragula-container collapse show" data-content>
            {{{children}}}
        </div>
    </div>
</div>