<div class="section-container">
    <div id="sec-{{id}}" class="section-element" data-id="{{id}}" type="container">
        <div class="section-header row no-gutters">
            <div class="b1 col-auto d-none d-lg-inline-block">
                <img loading="lazy" src="{{{icon}}}" class="section-icon" alt="" />
            </div>
            <div class="b2 col-12 col-md-auto" data-prev>{{{name}}}</div>
            <div class="b3 col-12 col-md-auto" data-toolbar>
            </div>
        </div>
        <div id="section-elements-{{id}}" 
            class="section-elements dragula-container collapse show" data-content>
            {{{children}}}
        </div>
    </div>
</div>