<form id="f-{{instanceId}}">
    {{#each couples}}
    <fieldset class="couple">
        <legend class="text-center">
            {{#if @index}}
            {{translate "widgets.CouplesItem.form.legend.second"}}
            {{else}}
            {{translate "widgets.CouplesItem.form.legend.first"}}
            {{/if}}
        </legend>
        <fieldset class="mb-3">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">{{translate "widgets.CouplesItem.form.type.label"}}
                </legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="couple[{{@index}}][type]"
                            id="couple-{{@index}}-type-text" value="text" {{#ifneq type "image" }} checked {{/ifneq}}
                            required>
                        <label class="form-check-label" for="couple-{{@index}}-type-text">
                            {{translate "widgets.CouplesItem.form.type.text"}}
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="couple[{{@index}}][type]"
                            id="couple-{{@index}}-type-image" value="image" {{#ifeq type "image" }} checked {{/ifeq}}
                            required>
                        <label class="form-check-label" for="couple-{{@index}}-type-image">
                            {{translate "widgets.CouplesItem.form.type.image"}}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="mb-3 text {{#ifeq type "image"}} d-none {{/ifeq}}">
            <label for="text-{{@index}}-{{../instanceId}}">{{translate "widgets.CouplesItem.form.text.label"}}</label>
            <textarea rows="5" class="form-control texteditor" id="text-{{@index}}-{{../instanceId}}"
                name="couple[{{@index}}][text]" placeholder="{{translate "widgets.CouplesItem.form.text.placeholder"}}"></textarea>
            <small class="form-text text-muted">{{translate "widgets.CouplesItem.form.text.help"}}</small>
        </div>
        <div class="image {{#ifneq type "image"}} d-none {{/ifneq}}">
            <div class="mb-3">
                <label for="image">{{translate "widgets.CouplesItem.form.image.label"}}</label>
                <input type="file" class="form-control img-input" name="couple[{{@index}}][image]"
                    accept="image/png, image/jpeg" />
                <small class="form-text text-muted">{{translate "widgets.CouplesItem.form.image.help"}}</small>
                <input type="hidden" class="blob-input" name="couple[{{@index}}][blob]" value="{{blob}}" />
            </div>
            <div class="mb-3">
                <label for="alt">{{translate "common.alt.label"}}</label>
                <input type="text" class="form-control" name="couple[{{@index}}][alt]" 
                    {{#ifeq type "image" }} required {{/ifeq}} autocomplete="off" 
                    placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
                <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
            </div>
            <div class="mb-3 img-preview-wrapper d-none">
                <p>{{translate "widgets.CouplesItem.form.preview"}}</p>
                <img class="img-fluid img-preview" src="{{blob}}" />
            </div>
        </div>
    </fieldset>
    {{/each}}
</form>