<form id="f-{{instanceId}}">
    <div class="form-group"> 
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="text">{{translate "widgets.InteractiveVideo.form.url.label"}}</label>
        <input type="url" class="form-control" name="videourl" 
            placeholder="{{translate "widgets.InteractiveVideo.form.url.placeholder"}}" value="{{{videourl}}}" 
            autocomplete="off" required />
        <small class="form-text text-muted">{{translate "widgets.InteractiveVideo.form.url.help"}}</small>
    </div>
</form>