<form id="f-{{instanceId}}">
    <div class="mb-3">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required /> 
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="d-flex">
            <div class="mb-3 col-6 pl-0">
                <label> {{translate "widgets.Roulette.modal.lifes"}} </label>
                <input class="form-control" type="number" min="1" step="1" name="lifes" value="{{ lifes }}">
                <small> {{translate "widgets.Roulette.modal.small_lifes"}}</small>
            </div>
            <div class="mb-3 col-6 pe-0">
                <label> {{translate "widgets.Roulette.modal.time"}} </label>
                <input class="form-control" type="time" name="time" step="1" value="{{ time }}">
                <small> {{translate "widgets.Roulette.modal.small_time"}}</small>
            </div>
    </div>
</form>