<div class="palette-item" data-category="{{category}}" data-type="{{type}}" data-widget="{{widget}}"
    data-columns="{{columns}}"> 
    <img src="{{{icon}}}" class="img-fluid"> 
    <br/>
    <span>{{columns}} {{translate "widgets.ColumnLayout.columnsLabel"}}</span>
</div>