<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" placeholder="{{translate "common.help.placeholder"}}"
                value="{{help}}">
            <div class="input-group-append">
                <button class="btn btn-indie" type="button" onclick="$('input[name=help]').val('')">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{translate "common.help.help"}}</small>
    </div>
    <div class="form-group">
        <label for="image">{{translate "widgets.ImageAndText.form.image.label"}}</label>
        <input type="file" class="form-control" name="image" accept="image/png, image/jpeg" />
        <small class="form-text text-muted">{{translate "widgets.ImageAndText.form.image.help"}}</small>
        <input type="hidden" name="blob" value="{{blob}}" />
    </div>
    <div class="form-group">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    <div class="form-group d-none">
        <p>{{translate "widgets.ImageAndText.form.preview"}}</p>
        <img class="img-fluid img-preview" src="{{blob}}" />
    </div>
    <div class="form-group">
        <label for="textblockText">{{translate "widgets.ImageAndText.form.text.label"}}</label>
        <textarea rows="10" class="form-control texteditor" name="textblockText" required></textarea>
        <small class="form-text text-muted">{{translate "widgets.ImageAndText.form.text.help"}}</small>
    </div>
</form>