<form id="f-{{instanceId}}">
    <div class="form-group"> 
        <label for="textTitle">{{translate "widgets.Callout.form.textTitle"}}</label> 
        <input id="textTitle" type="text" name="textTitle" class="form-control" value="{{textTitle}}" 
            placeholder="{{translate "widgets.Callout.form.placeholder.textTitle"}}" autocomplete="off"  /> 
        <small class="form-text text-muted">{{{translate "widgets.Callout.form.helps.textTitle"}}}</small>
    </div>
    <div class="form-group">
        <label for="text-block-style">{{translate "widgets.Callout.form.styles.label"}}</label>
        <select class="form-control" id="callout-block-style" name="style">
            <option value="more" {{#ifeq style "more" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.more" }}
            </option>
            <option value="note" {{#ifeq style "note" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.note" }}
            </option>
            <option value="attention" {{#ifeq style "attention" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.attention" }}
            </option>
            <option value="danger" {{#ifeq style "danger" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.danger" }}
            </option>
        </select>
        <small class="form-text text-muted">{{translate "widgets.Callout.form.helps.styles"}}</small>
    </div>
    <div class="form-group">
        <label for="custom-theme-color-picker">{{translate "widgets.Callout.form.colorTheme"}}</label>
        <div>
            <input class="custom-theme form-control" 
                placeholder="{{translate "widgets.Callout.form.placeholder.colorTheme"}}"
                name="colorTheme" type="text" id="custom-callout-color-picker"
                pattern="#[0-9a-fA-F]{6}" value="{{colorTheme}}">
            <small class="form-text text-muted">{{{translate "widgets.Callout.form.helps.colorTheme"}}}</small>
        </div>
    </div>
    <div class="form-group">
        <label for="text-block-style">{{translate "widgets.Callout.form.styles.animation"}}</label>
        <select class="form-control" id="text-block-style" name="animation">
            <option value="simple" {{#ifeq animation "solid" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.simple" }}
            </option>
            <option value="collapsible" {{#ifeq animation "collapsible" }} selected {{/ifeq}}>
                {{translate "widgets.Callout.form.styles.collapsible" }}
            </option>
        </select>
        <small class="form-text text-muted">{{translate "widgets.Callout.form.helps.animation"}}</small>
    </div>
</form>