<div class="palette-item" data-category="{{category}}" data-type="{{type}}" data-widget="{{widget}}" 
    data-columns="3"> 
    <img src="{{{icon}}}" class="img-fluid"> 
    <br/>
    <span>3 {{translate "widgets.ColumnLayout.columnsLabel"}}</span>
</div>