<div class="palette-item" data-category="{{category}}" data-type="{{type}}" data-widget="{{widget}}"> 
    <img src="{{{icon}}}" class="img-fluid" /> 
    <br />
    <span>{{translate "widgets.CorrectWord.label"}}</span>
</div>