<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
        placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" placeholder="{{translate "common.help.placeholder"}}"
                value="{{help}}">
            <div class="input-group-append">
                <button class="btn btn-indie" type="button" onclick="$('input[name=help]').val('')">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{{translate "common.help.help"}}}</small>
    </div>
    <div class="form-group">
        <label for="image">{{translate "widgets.Image.form.image.label"}}</label>
        <input type="url" class="form-control" name="image" required 
            placeholder="{{translate "widgets.Image.form.image.placeholder"}}" value="{{image}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.Image.form.image.help"}}</small>
    </div>
    <div class="form-group">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    <div class="form-group d-none">
        <p>{{translate "widgets.Image.form.preview"}}</p>
        <img class="img-fluid img-preview" src="{{image}}" />
    </div>
    <div class="form-group">
        <label for="text">{{translate "widgets.Image.form.caption.label"}}</label>
        <textarea class="form-control texteditor" name="text">{{text}}</textarea>
        <small class="form-text text-muted">{{translate "widgets.Image.form.caption.help"}}</small>
    </div>
</form>