<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="help">{{translate "common.help.label"}}</label>
        <div class="input-group mb-3">
            <input name="help" type="text" class="form-control" 
                placeholder="{{translate "common.help.placeholder"}}" value="{{help}}" />
            <div class="input-group-append">
                <button class="btn btn-indie js-set-default-text" type="button">
                    {{translate "common.help.button"}}
                </button>
            </div>
        </div>
        <small class="form-text text-muted">{{{translate "common.help.help"}}}</small>
    </div>
</form>