<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "widgets.RouletteItem.modal.label"}}</label>
        <input type="text" name="nameCategory" class="form-control" value="{{nameCategory}}" 
            placeholder="{{translate "widgets.RouletteItem.modal.placeholder"}}" autocomplete="off" required /> 
        <small class="form-text text-muted">{{translate "widgets.RouletteItem.modal.small_label"}}</small>
    </div>
</form>