<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="image">{{translate "widgets.ButtonTextItem.form.image.label"}}</label>
        <input type="url" class="form-control" name="image" required 
            placeholder="{{translate "widgets.ButtonTextItem.form.image.placeholder"}}" 
            value="{{image}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "widgets.ButtonTextItem.form.image.help"}}</small>
    </div>
    <div class="form-group">
        <label for="alt">{{translate "common.alt.label"}}</label>
        <input type="text" class="form-control" name="alt" required autocomplete="off" 
            placeholder="{{translate "common.alt.placeholder"}}" value="{{alt}}" />
        <small class="form-text text-muted">{{translate "common.alt.help"}}</small>
    </div>
    {{#if image}}
    <div class="form-group">
        <p>{{translate "widgets.ImageAndText.form.preview"}}</p>
        <img class="img-fluid" src="{{image}}" />
    </div>
    {{/if}}
    <div class="form-group">
        <label for="text-{{instanceId}}">{{translate "widgets.ButtonTextItem.form.text.label"}}</label>
        <textarea rows="10" class="form-control texteditor" id="text-{{instanceId}}" name="text" required></textarea>
        <small class="form-text text-muted">{{translate "widgets.ButtonTextItem.form.text.help"}}</small>
    </div>
</form>