<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="instanceName">{{translate "common.name.label"}}</label>
        <input type="text" name="instanceName" class="form-control" value="{{instanceName}}" 
            placeholder="{{translate "common.name.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "common.name.help"}}</small>
    </div>
    <div class="form-group">
        <label for="text">{{translate "widgets.Video.form.url.label"}}</label>
        <input type="text" class="form-control" name="videourl" 
            placeholder="{{translate "widgets.Video.form.url.placeholder"}}" value="{{{videourl}}}" 
            autocomplete="off" required />
        <small class="form-text text-muted">{{translate "widgets.Video.form.url.help"}}</small>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-12 pt-0">
                {{translate "widgets.Video.form.defaultCaptions.label"}}
            </legend>
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="defaultCaptions" id="defaultCaptions-yes"
                        value="1" {{#ifeq defaultCaptions "1" }} checked {{/ifeq}} required>
                    <label class="form-check-label" for="defaultCaptions-yes">
                        {{translate "widgets.Video.form.defaultCaptions.yes"}}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="defaultCaptions" id="defaultCaptions-no"
                        value="0" {{#ifneq defaultCaptions "1" }} checked {{/ifneq}} required>
                    <label class="form-check-label" for="defaultCaptions-no">
                        {{translate "widgets.Video.form.defaultCaptions.no"}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group d-none">
        <label for="captions">{{translate "common.captions.label"}}</label>
        <input type="text" class="form-control" name="captions" 
            placeholder="{{translate "common.captions.placeholder"}}" value="{{{captions}}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "common.captions.help"}}</small>
    </div>
    <div class="form-group d-none">
        <label for="descriptions">{{translate "common.descriptions.label"}}</label>
        <input type="text" class="form-control" name="descriptions" 
            placeholder="{{translate "common.descriptions.placeholder"}}" value="{{{descriptions}}}" autocomplete="off" />
        <small class="form-text text-muted">{{translate "common.descriptions.help"}}</small>
    </div>
</form>