<form id="f-{{instanceId}}">
    <div class="form-group"> 
        <label>{{translate "widgets.GapQuestion.form.questionText.label"}}</label> 
        <textarea class="form-control" name="question" 
            placeholder="{{translate "widgets.GapQuestion.form.questionText.placeholder"}}" required>
            {{question}}
        </textarea> 
        <small class="form-text text-muted">{{translate "widgets.GapQuestion.form.questionText.help"}}</small> 
    </div>
    <div class="form-group">
        <label>{{translate "widgets.GapQuestion.form.questionPreview.label"}}</label> 
        <textarea class="form-control" placeholder="{{translate "widgets.GapQuestion.form.questionPreview.placeholder"}}"
            name="questionPreview" readonly>
            {{preview}}
        </textarea> 
        <small class="form-text text-muted">{{translate "widgets.GapQuestion.form.questionPreview.help"}}</small>
    </div>
    <div class="form-group">
        <label>{{translate "widgets.GapQuestion.form.answers.label"}}</label>
        {{#each answers}}
        <div class="input-group input-answer">
            <div class="input-group-prepend">
                <div class="input-group-text"> 
                    <input type="radio" name="correctAnswer" {{#if correct}}checked="true"{{/if}} value="{{@index}}"> 
                </div>
            </div>
            <input class="form-control" type="text" autocomplete="off" name="answer{{@index}}" value="{{text}}" />
        </div>
        {{/each}}
        <small class="form-text text-muted">{{translate "widgets.GapQuestion.form.answers.help"}}</small>
    </div>
    <div class="form-group">
        <label>{{translate "common.feedback.label"}}</label>
        <small class="form-text text-muted mb-1">{{translate "common.feedback.help"}}</small>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text text-success">
                    <i class="fas fa-check-circle"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="feedbackPositive" 
                placeholder="{{translate "common.feedback.positive"}}" value="{{feedback.positive}}" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text text-danger">
                <i class="fas fa-times-circle"></i></span></div><input name="feedbackNegative" type="text"
                    class="form-control" placeholder="{{translate "common.feedback.negative"}}"
                    value="{{feedback.negative}}" />
        </div>
    </div>
</form>